## Asset Mirror
|Build Item|Status|
|----------|------|
{% for item in asset_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/asset-mirror/tree/{{ item }})|[![{{item}}](https://travis-ci.com/netbootxyz/asset-mirror.svg?branch={{ item }})](https://travis-ci.com/netbootxyz/asset-mirror)|
{% endfor -%}
