## Debian Based Operating Systems
|Build Item|Status|
|----------|------|
{% for item in debian_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/debian-squash/tree/{{ item }})|[![{{item}}](https://travis-ci.com/netbootxyz/debian-squash.svg?branch={{ item }})](https://travis-ci.com/netbootxyz/debian-squash)|
{% endfor -%}
