## External Assets - Version Retrieval
|Build Item|Status|
|----------|------|
{% for item in external_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/external-versions/tree/{{ item }})|[![{{item}}](https://travis-ci.com/netbootxyz/external-versions.svg?branch={{ item }})](https://travis-ci.com/netbootxyz/external-versions)|
{% endfor -%}
