## netboot.xyz primary pipeline
|Build Item|Status|
|----------|------|
|Master|[![Build Status](https://travis-ci.com/netbootxyz/netboot.xyz.svg?branch=master)](https://travis-ci.com/netbootxyz/netboot.xyz)|
|RC|[![Build Status](https://travis-ci.com/netbootxyz/netboot.xyz.svg?branch=RC)](https://travis-ci.com/netbootxyz/netboot.xyz)|
|Development|[![Build Status](https://travis-ci.com/netbootxyz/netboot.xyz.svg?branch=development)](https://travis-ci.com/netbootxyz/netboot.xyz)|
