## Asset Mirrors
|Build Item|Status|
|----------|------|
{% for item in asset_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/asset-mirror/tree/{{ item }})|[![{{ item }}](https://github.com/netbootxyz/asset-mirror/actions/workflows/{{ item }}.yml/badge.svg)](https://github.com/netbootxyz/asset-mirror/actions/workflows/{{ item }}.yml)
{% endfor -%}
