## Asset Mirrors [![Downloads](https://img.shields.io/github/downloads/netbootxyz/asset-mirror/total)](https://github.com/netbootxyz/asset-mirror)
|Build Item|Status|
|----------|------|
{% for item in asset_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/asset-mirror/tree/{{ item }})|[![{{ item }}](https://img.shields.io/github/actions/workflow/status/netbootxyz/asset-mirror/{{ item }}.yml?style=for-the-badge)](https://github.com/netbootxyz/asset-mirror/actions/workflows/{{ item }}.yml)
{% endfor -%}
