## External Assets - Version Retrieval
|Build Item|Status|
|----------|------|
{% for item in external_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/external-versions/tree/{{ item }})|[![{{ item }}](https://github.com/netbootxyz/external-versions/actions/workflows/{{ item }}.yml/badge.svg)](https://github.com/netbootxyz/external-versions/actions/workflows/{{ item }}.yml)
{% endfor -%}
