## Manjaro Operating Systems [![Downloads](https://img.shields.io/github/downloads/netbootxyz/manjaro-squash/total)](https://github.com/netbootxyz/manjaro-squash)
|Build Item|Status|
|----------|------|
{% for item in manjaro_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/manjaro-squash/tree/{{ item }})|[![{{ item }}](https://github.com/netbootxyz/manjaro-squash/actions/workflows/{{ item }}.yml/badge.svg)](https://github.com/netbootxyz/manjaro-squash/actions/workflows/{{ item }}.yml)|
{% endfor -%}
