## Primary Pipeline
|Build Item|Status|Deployed Endpoint|
|----------|------|-----------------|
|[Master Branch](https://github.com/netbootxyz/netboot.xyz/tree/master)|[![Build Status](https://github.com/netbootxyz/netboot.xyz/workflows/release/badge.svg)](https://github.com/netbootxyz/netboot.xyz/actions?query=workflow%3Arelease)|[boot.netboot.xyz](https://boot.netboot.xyz)|
|[RC Branch](https://github.com/netbootxyz/netboot.xyz/tree/RC)|[![Build Status](https://github.com/netbootxyz/netboot.xyz/workflows/release-candidate/badge.svg)](https://github.com/netbootxyz/netboot.xyz/actions?query=workflow%3Arelease-candidate)|[staging.boot.netboot.xyz](https://staging.boot.netboot.xyz)|
|[Development Branch](https://github.com/netbootxyz/netboot.xyz/tree/development)|[![Build Status](https://github.com/netbootxyz/netboot.xyz/workflows/development/badge.svg)](https://github.com/netbootxyz/netboot.xyz/actions?query=workflow%3Adevelopment)|dev.boot.netboot.xyz|
