## netboot.xyz primary pipeline
|Build Item|Status|
|----------|------|
|[Master Branch](https://github.com/netbootxyz/netboot.xyz/tree/master)|[![Build Status](https://travis-ci.com/netbootxyz/netboot.xyz.svg?branch=master)](https://travis-ci.com/netbootxyz/netboot.xyz)|
|[RC Branch](https://github.com/netbootxyz/netboot.xyz/tree/RC)|[![Build Status](https://travis-ci.com/netbootxyz/netboot.xyz.svg?branch=RC)](https://travis-ci.com/netbootxyz/netboot.xyz)|
|[Development Branch](https://github.com/netbootxyz/netboot.xyz/tree/development)|[![Build Status](https://travis-ci.com/netbootxyz/netboot.xyz.svg?branch=development)](https://travis-ci.com/netbootxyz/netboot.xyz)|
