## netboot.xyz pipeline status

{% include './templates/netboot.xyz.j2' %}

{% include './templates/asset-mirror.j2' %}

{% include './templates/debian-squash.j2' %}

{% include './templates/external-versions.j2' %}

{% include './templates/fedora-assets.j2' %}

{% include './templates/manjaro-squash.j2' %}

{% include './templates/ubuntu-squash.j2' %}
