## Ubuntu Based Operating Systems [![Downloads](https://img.shields.io/github/downloads/netbootxyz/ubuntu-squash/total)](https://github.com/netbootxyz/ubuntu-squash)
|Build Item|Status|
|----------|------|
{% for item in ubuntu_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/ubuntu-squash/tree/{{ item }})|[![{{ item }}](https://github.com/netbootxyz/ubuntu-squash/actions/workflows/{{ item }}.yml/badge.svg)](https://github.com/netbootxyz/ubuntu-squash/actions/workflows/{{ item }}.yml)|
{% endfor -%}
