## Ubuntu Based Operating Systems
|Build Item|Status|
|----------|------|
{% for item in ubuntu_branches.stdout_lines -%}
|[{{ item }}](https://github.com/netbootxyz/ubuntu-squash/tree/{{ item }})|[![{{item}}](https://github.com/netbootxyz/ubuntu-squash/workflows/{{ item }}/badge.svg?branch={{ item }})](https://github.com/netbootxyz/ubuntu-squash/actions?query=workflow%3A{{ item }})|
{% endfor -%}
